body{
	padding: 0;
	margin:0;
}

.header{
	height: 70px;
	width: 100%;
	background-color: #ffffff;
	line-height: 70px;
}
.header img{
	width:300px;
	height:64px;
	margin-left: 222px;
}
.content{
	text-align: center;
	position: relative;
	height: 625px;
	width: 100%;
	background-color: #f2f2f2;
}
.main{
	position: absolute;
	border-radius: 10px;
	width: 680px;
	height: 450px;
	left: 50%;
	margin-left: -340px;
	margin-top: 50px;
	text-align: center;
	background-color: #fff;
}
.content .main .form{
	text-align: center;
	border:1px solid #efefef;
	width: 500px;
	height: 300px;
	margin-left: 80px;
	background-color: #fff;
	padding:30px;
	border-radius: 10px;


}
.content .main .form input{
	 border:none;
	 border:1px solid #c8c8c8;
	border-radius: 10px;
	margin-top: 10px;
	width:300px;
	height: 50px;
}

.content .main h2{
	color: #666;
	text-align: center;
}



.footer{
	width: 100%;
	height: 128px;
	background-color: #fff;
}
.footer .info {
	text-align: center;
	font-size: 16px;
	font-family: 'Microsoft YaHei';
}
.footer .info span{
	margin-top: 10px;
	display: block;
}
.btn{
	background-color: #339900;
	color: #fff;
	border:none;
}